@import 'styles/variables.scss';
@import 'styles/section1.scss';
@import 'styles/section2.scss';

body {
    max-width: 1000px;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0px;
    font-family: $font;
    background-color: white;
}

.section3 {
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    text-align: center;

    .hidden {
        display: none;
    }



    >.carouselwithbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    >div>div {
        display: flex;
        align-content: center;
    }

    >div>div>img {

        height: auto;
        width: 3vw;
        margin-top: auto;
        margin-bottom: auto;


    }

    >div>div>img:hover {
        cursor: pointer;
    }


    .section3carousel {
        height: 70vh;
        width: 94%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 10px;



        .t {
            height: 90%;
            width: 350px;
            margin: auto;
            padding-top: 1%;
            background-color: white;
            border-radius: 15px;
            border: 2px solid $bluethemecolor;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            overflow: hidden;
            font-size: small;


            h5 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            h6 {
                font-size: large;
                font-weight: 550;
            }

            img {

                object-fit: cover;
                height: 200px;
                width: 200px;
                margin: auto;
                border-radius: 50%;
            }

            p {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

        }

        .left,
        .right {
            opacity: .4;
        }


        .hidden {
            display: none;
        }

    }
}