@import 'styles/variables.scss';
@import 'styles/section1.scss';
@import 'styles/section2.scss';
@import 'styles/section3.scss';

body {
    max-width: 1000px;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0px;
    font-family: $font;
    background-color: white;
}