@import 'styles/variables.scss';
@import 'styles/section1.scss';

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0px;
    font-family: $font;
    background-color: black;
}

.section2 {
    width: 100vw;
    height: 100vh;

}