.section1 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  background-image: url(assets/section1bg.jpg);
  background-size: cover;
  background-position: bottom center;
}

.section1 h1 {
  font-size: 3rem;
  font-weight: 600;
  width: 60%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}

.section1 p {
  width: 50%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.section1 button {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-color: #00008a;
  color: white;
  border: 2px solid tomato;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
}

.section1 button:hover {
  opacity: .8;
  cursor: pointer;
}

.section1 .section1text {
  position: absolute;
  top: 10%;
  width: 100vw;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section1 .section1reviews {
  background-color: rgba(0, 0, 138, 0.671);
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 27vh;
  border-top: 2px solid tomato;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
  margin-top: auto;
  margin-bottom: auto;
}

.section1 .section1reviews h2 {
  font-weight: 400;
  font-size: large;
}

.section1 .section1reviews ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  height: 100%;
  margin-top: 2% !important;
  margin-bottom: 0;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section1 .section1reviews ul li {
  width: 20vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section1 .section1reviews ul h3.person {
  margin-bottom: 0;
  font-size: large;
}

.section1 .section1reviews ul p {
  width: 100%;
}

.section1 .section1reviews ul .rating img {
  max-height: 20px;
  width: auto;
}

section.section2 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

section.section2 > div.container {
  background-image: url(assets/section2bg.jpg);
  background-size: cover;
  margin: 0;
  min-width: 100vw;
}

section.section2 > div.container > div.row {
  min-height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.section2 .section2text {
  max-height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section2 .section2text h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

section.section2 .section2text button {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: #00008a;
  color: white;
  border: 2px solid tomato;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
}

section.section2 .section2text button:hover {
  opacity: .8;
  cursor: pointer;
}

section.section2 .section2cards {
  max-height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.section2 .section2cards .card {
  border: 2px solid #00008a;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.637);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.637);
}

section.section2 .section2cards .card:hover {
  border: 2px solid tomato;
}

section.section2 .section2cards img {
  height: 150px;
  width: auto;
}

section.section2 .section2cards .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.section2 .section2cards h5 {
  font-weight: 600;
}

.section3 {
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url(assets/section3bg.jpg);
  background-size: cover;
}

.section3 .section3text {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.section3 .section3text h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 4%;
  margin-top: 1%;
  color: white;
}

.section3 .section3text p {
  color: white;
}

.section3 > .carouselwithbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 98vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.section3 > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section3 > div > div > img {
  height: auto;
  width: 3vw;
  margin-top: auto;
  margin-bottom: auto;
}

.section3 > div > div > img:hover {
  cursor: pointer;
  opacity: .8;
}

.section3 .section3carousel {
  height: 70vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10px;
}

.section3 .section3carousel .t {
  height: 90%;
  width: 350px;
  margin: auto;
  padding-top: 1%;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #00008a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  font-size: small;
}

.section3 .section3carousel .t h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.section3 .section3carousel .t h6 {
  font-size: large;
  font-weight: 550;
}

.section3 .section3carousel .t img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 50%;
}

.section3 .section3carousel .t p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section3 .section3carousel .hidden {
  display: none;
}

body {
  max-width: 1000px;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */