@import './variables.scss';

section.section2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    >div.container {
        background-image: url(assets/section2bg.jpg);
        background-size: cover;
        margin: 0;
        min-width: 100vw;

        >div.row {
            min-height: 100%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }

    }



    .section2text {

        max-height: 60%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h4 {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
        }

        button {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding: 2%;
            background-color: $bluethemecolor;
            color: white;
            border: $orangeacentborder;
            border-radius: 20px;
            box-shadow: 2px 2px 2px black;
            font-family: $font;
            font-size: 1.4em;

        }

        button:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

    .section2cards {

        max-height: 60%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .card {
            border: 2px solid $bluethemecolor;
            box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.637);
        }

        .card:hover {
            border: $orangeacentborder;
        }

        img {
            height: 150px;
            width: auto;

        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        h5 {
            font-weight: 600;
        }

    }

}