@import 'variables.scss';

.section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-image: url(assets/section1bg.jpg);
    background-size: cover;
    background-position: bottom center;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        width: 60%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;

    }

    p {

        width: 50%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        background-color: $bluethemecolor;
        color: white;
        border: $orangeacentborder;
        border-radius: 20px;
        box-shadow: 2px 2px 2px black;
        font-family: $font;
        font-size: 1.4em;

    }

    button:hover {
        opacity: .8;
        cursor: pointer;
    }

    .section1text {
        position: absolute;
        top: 10%;
        width: 100vw;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section1reviews {
        background-color: $secondarybluethemecolor;
        position: absolute;
        bottom: 0px;
        width: 100vw;
        height: 27vh;
        border-top: $orangeacentborder;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;
        margin-top: auto;
        margin-bottom: auto;

        h2 {
            font-weight: 400;
            font-size: large;

        }

        ul {
            display: flex;
            flex-direction: row;
            padding: 0px;
            justify-content: space-evenly;
            list-style: none;
            height: 100%;
            margin-top: 2% !important;
            margin-bottom: 0;
            align-content: center;

            li {
                width: 20vw;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: center;
            }

            h3.person {
                margin-bottom: 0;
                font-size: large;
            }

            p {

                width: 100%;
            }

            .rating img {
                max-height: 20px;
                width: auto;
            }
        }
    }
}