@import 'variables.scss';

.section3 {
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url(assets/section3bg.jpg);
    background-size: cover;

    .section3text {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;

        h4 {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            margin-bottom: 4%;
            margin-top: 1%;
            color: white;
        }

        p {
            color: white;
        }
    }


    >.carouselwithbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    >div>div {
        display: flex;
        align-content: center;
    }

    >div>div>img {

        height: auto;
        width: 3vw;
        margin-top: auto;
        margin-bottom: auto;


    }

    >div>div>img:hover {
        cursor: pointer;
        opacity: .8;
    }


    .section3carousel {
        height: 70vh;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 10px;



        .t {
            height: 90%;
            width: 350px;
            margin: auto;
            padding-top: 1%;
            background-color: white;
            border-radius: 15px;
            border: 2px solid $bluethemecolor;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            overflow: hidden;
            font-size: small;


            h5 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            h6 {
                font-size: large;
                font-weight: 550;
            }

            img {

                object-fit: cover;
                height: 200px;
                width: 200px;
                margin: auto;
                border-radius: 50%;
            }

            p {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

        }


        .hidden {
            display: none;
        }

    }
}